.splide__arrows {
  .splide__arrow {
    background: transparent;
    border-radius: 0;
    width: 16px;
    height: 22px;
    opacity: 1;
  }

  .splide__arrow--prev {
    left: 508px;
    top: -45px;
  }

  .splide__arrow--prev svg {
    transform: none;
  }

  .splide__arrow--prev svg,
  .splide__arrow--next svg {
    width: 16px;
    height: 22px;
  }

  .splide__arrow--next {
    right: 0px;
    top: -45px;
  }
}

.news-carousel-two-image__image {
  width: 260px;
  height: 150px;
  margin-bottom: 9px;
}

.news-carousel-two-image__date {
  @include VarelaRound($textGray, 12px, normal);
  margin-bottom: 6px;
}

.news-carousel-two-image__title {
  @include BitterBold($textBlack, 14px, normal);
}

@media screen and (max-width: 630px) {
  .splide__arrows {
    .splide__arrow--prev {
      left: 193px;
    }
  }
}
