.nav-top__wrapper {
  width: 100%;
  background-color: $black;
  @include FlexCenterVertical;

  .nav-top {
    width: 942px;
    @include FlexSpaceBetween;

    .nav-top__logo,
    .nav-top__links {
      @include FlexCenterHorizonal;

      .nav-top__logo-text {
        @include BitterRegular($white, 24px, 27px);
      }

      .nav-top__links-text {
        @include ValeraRound($white, 14px, 27px);
        margin-right: 30px;
      }

      .nav-top__logo-text:hover,
      .nav-top__links-text:hover {
        cursor: pointer;
      }

      .nav-top__logo-icon,
      .nav-top__links-search-icon {
        width: 63px;
        height: 53px;
        @include FlexCenter;
      }

      .nav-top__logo-icon {
        margin-right: 9px;
      }

      .nav-top__logo-icon:hover,
      .nav-top__links-search-icon:hover {
        cursor: pointer;
        background-color: $secondaryBlack;
      }
    }
  }
}
