.article-header {
  margin-bottom: 7px;

  .article-header__image {
    width: 940px;
    height: 588px;
    background-size: cover;
    position: relative;

    .article-header__text-content {
      background: url(src/assets/images/ImageShadow.png);
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 94px 0px 34px 30px;

      .article-header__date {
        @include VarelaRound($textSecondaryBlack, 12px, normal);
        margin-bottom: 5px;
      }

      .article-header__title {
        @include BitterBold($textSecondaryBlack, 44px, normal);
        max-width: 500px;
        @include TextCutter(2);
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .article-header {
    .article-header__image {
      width: 623px;
      height: 392px;

      .article-header__text-content {
        padding: 47px 0px 17px 15px;

        .article-header__title {
          font-size: 36px;
        }
      }
    }
  }
}
@media screen and (max-width: 630px) {
  .article-header {
    .article-header__image {
      width: 303px;
      height: 191px;

      .article-header__text-content {
        padding: 23px 0px 8px 10px;

        .article-header__title {
          font-size: 18px;
        }
      }
    }
  }
}
