.gallery-slider {
  width: 940px;

  .splide__slide-image {
    width: 940px;
    height: 425px;
    position: relative;
    background-size: cover;
    margin-bottom: 19px;

    .splide__slide-text-content {
      width: 100%;
      padding: 61px 0px 28px 30px;
      position: absolute;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 17%,
        rgba(255, 255, 255, 0) 100%
      );

      .splide__slide-date-comment-wrapper {
        @include FlexCenterHorizontal;
        margin-bottom: 10px;

        .splide__slide-date,
        .splide__slide-comments {
          @include VarelaRound($textWhite, 12px, normal);
          margin-right: 18px;
        }

        .splide__slide-comment-icon {
          margin-right: 6px;
        }
      }

      .splide__slide-title {
        @include BitterBold($textWhite, 34px, normal);
        margin-bottom: 10px;
        max-width: 588px;
      }

      .splide__slide-button {
        @include VarelaRound($textWhite, 14px, normal);
        padding: 8px 22px;
        background-color: transparent;
        border: 1px solid $white;
      }
    }
  }
}
