.nav-bottom__wrapper {
  width: 100%;
  background-color: $backgroundPurple;
  @include FlexCenterVertical();

  .nav-bottom {
    width: 942px;
    display: flex;

    .nav-bottom__category {
      @include BitterBold($white, 18px, normal);
      padding: 15px 20px;
      text-transform: uppercase;
    }
    .nav-bottom__category:hover {
      cursor: pointer;
    }

    // ovo se moglo bolje sigurno, al moram još skužit kako
    .news {
      border-bottom: 3px solid $newsBlue;
      @include NavTransition($newsBlue);
    }
    .news:hover {
      @include NavTranistionHover($newsBlue);
    }

    .business {
      border-bottom: 3px solid $businessOrange;
      @include NavTransition($businessOrange);
    }
    .business:hover {
      @include NavTranistionHover($businessOrange);
    }

    .sport {
      border-bottom: 3px solid $sportGreen;
      @include NavTransition($sportGreen);
    }
    .sport:hover {
      @include NavTranistionHover($sportGreen);
    }

    .life {
      border-bottom: 3px solid $lifeBlue;
      @include NavTransition($lifeBlue);
    }
    .life:hover {
      @include NavTranistionHover($lifeBlue);
    }

    .tech {
      border-bottom: 3px solid $techYellow;
      @include NavTransition($techYellow);
    }
    .tech:hover {
      @include NavTranistionHover($techYellow);
    }

    .travel {
      border-bottom: 3px solid $travelBrown;
      @include NavTransition($travelBrown);
    }
    .travel:hover {
      @include NavTranistionHover($travelBrown);
    }
  }
}
