@mixin BitterRegular($color, $fontSize, $lineHeight) {
  color: $color;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: "Bitter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin BitterBold($color, $fontSize, $lineHeight) {
  color: $color;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: "Bitter", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin VarelaRound($color, $fontSize, $lineHeight) {
  color: $color;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: "Valera Round", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin Varela($color, $fontSize, $lineHeight) {
  color: $color;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: "Valera", sans-serif;
  font-style: normal;
  font-weight: 400;
}
