$black: #252525;
$secondaryBlack: #303030;
$pureBlack: #000000;
$white: #ffffff;
$gray: #999999;
$lightGray: #d7d7d7;
$secondaryGray: #acb3ba;
$blue: #45b0e3;

$backgroundPurple: #4d4382;
$backgroundHoverPurple: #453c75;
$backgroundDarkPurple: #3e3668;
$backgroundWhite: #eeeeee;
$backgroundGray: #333333;
$backgroundLightGray: #dddddd;

$textWhite: #eef6fa;
$textBlack: #363f48;
$textBlue: #3677b5;
$textGray: #666666;
$textLightGray: #cccccc;

$newsBlue: #299ec3;
$businessOrange: #ee6151;
$sportGreen: #84c14f;
$lifeBlue: #5dcff3;
$techYellow: #fcc44d;
$travelBrown: #a99765;

$opacityBlack: rgba(0, 0, 0, 0.2);
