.article-text {
  background-color: $white;

  .article-text__wrapper {
    width: 100%;
    padding: 48px 20px 53px 30px;

    .article-text__text-upper-text {
      @include BitterRegular($textDarkGray, 14px, 22px);
    }
  }

  .article-text__image {
    width: 623px;
    height: 357px;
    background: url(src/assets/images/Slider1/SlideImage1.jpeg);
    background-size: cover;
  }

  .article-text__text-social-wrapper {
    padding: 37px 20px 18px 31px;

    .article-text__text-lower-text {
      @include BitterRegular($textDarkGray, 14px, 22px);
    }

    .article-text__social-image {
      margin-top: 44px;
    }
  }
}
