.footer-tags-widget {
  margin-bottom: 69px;

  .footer-tags-widget__title {
    @include BitterBold($textLightGray, 24px, normal);
    margin-bottom: 31px;
  }

  .footer-tags-widget__tags {
    display: flex;
    flex-wrap: wrap;

    .footer-tags-widget__tag {
      cursor: pointer;
      padding: 4px 10px;
      background-color: $backgroundGray;
      @include Varela($textGray, 12px, 20px);
      margin-bottom: 5px;
      margin-right: 5px;
    }

    .footer-tags-widget__tag:last-child {
      margin: 0;
    }

    .footer-tags-widget__tag:nth-child(4) {
      margin-right: 0;
    }

    .footer-tags-widget__tag:hover {
      background-color: $backgroundPurple;
      color: $textLightGray;
    }
  }
}
