.nav-top__wrapper {
  width: 100%;
  background-color: $black;
  @include FlexCenterVertical;

  .nav-top {
    width: 942px;
    @include FlexSpaceBetween;

    .nav-top__logo,
    .nav-top__links {
      @include FlexCenterHorizontal;

      .nav-top__logo-text {
        @include BitterRegular($white, 24px, 27px);

        &:hover {
          cursor: pointer;
        }
      }

      .nav-top__links-text {
        @include VarelaRound($white, 14px, 27px);
        margin-right: 30px;

        &:hover {
          cursor: pointer;
        }
      }
      .nav-top__logo-icon,
      .nav-top__links-search-icon {
        width: 63px;
        height: 53px;
        @include FlexCenter;

        &:hover {
          cursor: pointer;
          background-color: $secondaryBlack;
        }
      }

      .nav-top__logo-icon {
        margin-right: 9px;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .nav-top__wrapper {
    .nav-top {
      .nav-top__logo,
      .nav-top__links {
        .nav-top__logo-text {
          @include BitterRegular($white, 14px, normal);
        }

        .nav-top__links-text {
          @include VarelaRound($white, 12px, normal);
          margin-right: 12px;
        }

        .nav-top__logo-icon,
        .nav-top__links-search-icon {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
