.side-bar__item {
  background-color: $backgroundPurple;
  padding: 19px 28px;
  border-bottom: 2px solid $opacityBlack;
  @include FlexSpaceBetween;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $backgroundDarkPurple;
    cursor: pointer;
  }

  .side-bar__item-text-content {
    width: 142px;

    .side-bar__item-icon-comment-wrapper {
      @include FlexEnd;

      .side-bar__item-comments {
        @include VarelaRound($secondaryGray, 10px, normal);
        margin-left: 3px;
      }
    }

    .side-bar__item-date {
      @include VarelaRound($secondaryGray, 10px, normal);
    }

    .side-bar__item-title {
      @include BitterBold($white, 14px, normal);
    }
  }
}
