.news-card-big {
  width: 100%;
  @include FlexSpaceBetween;

  .news-card-big__card {
    cursor: pointer;
    .news-card-big__card-image {
      width: 170px;
      height: 128px;
      background-size: cover;
      margin-bottom: 6px;
    }
    .news-card-big__card-date-comment-wrapper {
      @include FlexSpaceBetween;
      margin-bottom: 2px;

      .news-card-big__card-date,
      .news-card-big__card-comments {
        @include VarelaRound($textGray, 12px, normal);
      }
    }

    .news-card-big__card-title {
      @include BitterBold($textBlack, 14px, normal);
      max-width: 170px;
    }
  }
}
