.side-bar {
  margin-bottom: 28px;

  .side-bar__top {
    width: 100%;
    padding: 17px 31px 16px;
    background-color: $backgroundDarkPurple;
    @include FlexSpaceBetween;

    .side-bar__top-link {
      @include VarelaRound($white, 14px, normal);
      border-bottom: 1px solid $secondaryGray;

      &.active {
        cursor: pointer;
        color: $techYellow;
        border-bottom: 1px solid $techYellow;
      }
    }
  }

  .side-bar__list {
    height: 617px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
