.footer {
  width: 100%;
  background-color: $black;
  padding: 61px 0px 219px;
  @include FlexCenterVertical;

  .footer__wrapper {
    width: 942px;
    @include FlexSpaceBetween;

    .footer__column {
      width: 303px;
    }
  }
}
