.side-bar__item {
  background-color: $backgroundPurple;
  padding: 19px 28px;
  border-bottom: 2px solid $opacityBlack;
  @include FlexSpaceBetween;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $backgroundDarkPurple;
    cursor: pointer;
  }

  .side-bar__item-text-content {
    width: 142px;

    .side-bar__item-icon-comment-wrapper {
      @include FlexEnd;

      .side-bar__item-comments {
        @include VarelaRound($secondaryGray, 10px, normal);
        margin-left: 3px;
      }
    }

    .side-bar__item-date {
      @include VarelaRound($secondaryGray, 10px, normal);
    }

    .side-bar__item-title {
      @include BitterBold($white, 14px, normal);
      @include TextCutter(3);
    }
  }

  .side-bar__item-image {
    width: 70px;
    height: 70px;
    background-size: cover;
  }
}

@media screen and (min-width: 630px) and (max-width: 990px) {
  .side-bar__item {
    .side-bar__item-text-content {
      width: 477px;

      .side-bar__item-title {
        font-size: 18px;
      }
    }
  }
}
