.article-about-author {
  background-color: $white;
  padding: 18px 26px 31px 31px;
  margin-bottom: 18px;

  .article-about-author__title {
    @include BitterBold($textBlack, 24px, normal);
    margin-bottom: 30px;
  }

  .article-about-author__image-description-wrapper {
    @include FlexCenterHorizontal;

    .article-about-author__image {
      margin-right: 20px;
    }

    .article-about-author__description {
      @include Varela($textDarkGray, 13px, 20px);
    }
  }
}
