@import "./homeGalleryModal";

.home-gallery {
  width: 940px;
  position: relative;

  .splide-home-gallery {
    .home-gallery__image {
      width: 940px;
      height: 400px;
      background-size: cover;
      background-position: center;
      position: relative;

      .home-gallery__search-icon {
        background: url(src/assets/images/SearchIcon.png);
        position: absolute;
        left: 435px;
        top: 120px;
        width: 80px;
        height: 80px;
        background-size: cover;
        cursor: pointer;
      }
    }
  }

  .splide-thumbnail-gallery {
    width: 900px;
    position: absolute;
    bottom: 90px;
    left: 20px;

    .splide__track--nav {
      .splide__list {
        .splide__slide.is-active {
          border: 2px solid $blue;
        }
      }
    }

    .splide-thumbnail-gallery__thumbnail-image {
      width: 117px;
      height: 117px;
      background-size: cover;
      background-position: center;
    }

    .splide__arrows {
      .splide__arrow {
        background: transparent;
        border-radius: 0;
        width: 36px;
        height: 53px;
        opacity: 1;
      }

      .splide__arrow--prev {
        left: 0px;
        top: -100px;
      }

      .splide__arrow--prev svg {
        transform: none;
      }

      .splide__arrow--prev svg,
      .splide__arrow--next svg {
        width: 36px;
        height: 53px;
      }

      .splide__arrow--next {
        right: 0px;
        top: -100px;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .home-gallery {
    width: 623px;

    .splide-home-gallery {
      .home-gallery__image {
        width: 623px;
        height: 282px;

        .home-gallery__search-icon {
          left: 270px;
          top: 100px;
        }
      }
    }

    .splide-thumbnail-gallery {
      width: 583px;
      bottom: 50px;

      .splide-thumbnail-gallery__thumbnail-image {
        width: 58px;
        height: 58px;
      }

      .splide__arrows {
        .splide__arrow--prev {
          left: 0px;
          top: -65px;
        }

        .splide__arrow--next {
          top: -65px;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .home-gallery {
    display: none;
  }
}
